* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(179, 183, 182);
}
/* ====CONTAINER=== */
.container {
  max-width: 900px;
  margin: 0 auto;
}
/* ===Box=== */
.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: rgb(5, 193, 210);
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 5px 3px rgba(1, 1, 1, 0.5);
  border-radius: 10px;
}
.title_small {
  font-size: 20px;
}

.form_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
}
input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
input:focus {
  outline-color: rgb(237, 14, 14);
}
.btn {
  display: flex;
  justify-content: end;
  /* width: 150px; */
  margin-top: 18px;
}
button {
  background-color: rgb(246, 6, 6);
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: gray;
  border: 2px solid red;
  display: inline-block;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.text_area_control {
  grid-column: 1 / span 2;
}
.text_area_control textarea {
  width: 100%;
}

@media (max-width: 460px) {
  .text_area_control {
    grid-column: 1 / span 1;
  }
}
